* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://c.pxhere.com/photos/dd/df/clocks_clock_time_watch_date_alarm_schedule_management-835791.jpg!d);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}